* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #e8e8e8;
}

h1,
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 10px;
}

.box {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #c3c3c3;
}

input {
    background-color: #aaaaaa;
    border: none;
    width: 40px;
}

#kmcontainer {
    background-color: #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.traffic {
    background-color: #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input:active {
    border: none;
}

iframe {
    border-radius: 10px;
}

#container {
    display: flex;
    flex-basis: calc(485px*2+5px);
}

#left {
    flex: 1;
}

#right {
    flex: 0.5;
}